<!DOCTYPE html>
@{
    Layout = null;
    var base64 = Convert.ToBase64String(CoreGeneral.Recursos.Constantes.logo);
    var imgLogo = String.Format("data:image/jpg;base64,{0}", base64);

    base64 = Convert.ToBase64String(CoreGeneral.Recursos.Constantes.cargar);
    var imgCargar = String.Format("data:image/jpg;base64,{0}", base64);
}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title - SAF</title>
    <environment include="Development">
        <link rel="stylesheet" type="text/css" href="~/lib/jqueryui/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/datatables/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="~/css/saf.css" />
        <link rel="stylesheet" type="text/css" href="~/css/general.css" />
    </environment>
</head>
<body style="width:100%">
    <div id="page">
        <div id="menu" class="sidenav">
        </div>
        <div id="contenidoPrincipal" style="margin-left:250px">
            <div id="header">
                <img src="@imgLogo" height="50" />
                <span id="pushRight" class="fa fa-bars fa-2x btn-lista-vista" onclick="abrirMenu();"></span>
            </div>
            <div id="contenido">
            </div>
        </div>
    </div>
    <div id="modalOperacion">
    </div>
    <div id="cargando">
        <div class="cargandoImagen parpadea">
            <img src="@imgCargar" height="50" width="50" />
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
        <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
        <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

        <script src="~/js/saf.js"></script>
        <script src="~/js/general.js"></script>
    </environment>
</body>
</html>
