<!DOCTYPE html>
@{
	Layout = null;
	var base64 = Convert.ToBase64String(CoreGeneral.Recursos.Constantes.logo);
	var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title - SAF</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/css/saf.css" />
		<link rel="stylesheet" href="~/css/general.css" />
		<link rel="stylesheet" href="~/lib/twitter-bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
		<link rel="stylesheet" href="~/lib/slidermenu/sidebar-menu.css">
	</environment>
</head>
<body>
	<div id="page">
		<div id="header">
			<img src="@imgSrc" />
			<span id="pushRight" class="btn fa fa-navicon"></span>
		</div>
		<div id="contenido">

		</div>
		<div id="menu">
		</div>
	</div>
	<div id="modalOperacion">
	</div>
	<environment include="Development">
		<script src="~/lib/jquery/jquery.min.js"></script>
		<script src="~/lib/slidermenu/sidebar-menu.js"></script>
		<script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
		<script src="~/js/saf.js"></script>
		<script src="~/js/general.js"></script>
	</environment>
</body>
</html>

