<!DOCTYPE html>
@{
	var base64 = Convert.ToBase64String(CoreGeneral.Recursos.Constantes.logo);
	var imgSrc = String.Format("data:image/jpg;base64,{0}", base64);
}

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title - SAF</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/css/saf.css" />
		<link rel="stylesheet" href="~/lib/bootstrap_4.1.1/css/bootstrap.min.css" />
		<link rel="stylesheet" href="~/lib/fontawesome_5.0.12/css/fontawesome-all.min.css" />
		<link rel="stylesheet" href="~/lib/slidermenu/sidebar-menu.css">
	</environment>
</head>
<body>
	<div class="page-header">
		<div class="row form-group">
			<div class="col-lg-2">
				<img src="@imgSrc" class="img-fluid" />
			</div>
			<div class="col-lg-10">
				<span id="pushRight" class="btn">&#9776;</span>
			</div>
		</div>
	</div>

	<div class="panel-body">
		@Html.Partial("../Usuario/UsuarioMenu")		
		<div id="contenido">
			@RenderBody()
		</div>
	</div>

	<environment include="Development">
		<script src="~/lib/jquery_3.3.1/jquery-3.3.1.min.js"></script>
		<script src="~/lib/bootstrap_4.1.1/js/bootstrap.min.js"></script>
		<script src="~/lib/slidermenu/sidebar-menu.js"></script>
		<script src="~/js/saf.js"></script>
		<script>
			$.sidebarMenu($('.sidebar-menu'))
			$('#pushRight').click(function () {
				$('body').addClass('animate-menu-push');
				$('body').toggleClass('animate-menu-push-right')
				$('.animate-menu-left').toggleClass('animate-menu-open')
			})
		</script>
	</environment>
</body>
</html>
