.btn-lista-vista {
    background-color: transparent;
    -webkit-align-items: center;
    height: 20px;
    width: 20px;
    opacity: .70;
    cursor: pointer;
}

.btn, .card, .form-control {
    border-radius: 0rem;
    color: #000000;
    margin: 0rem;
}

.modal-content {
    border-radius: 0rem;
}

.modal-footer {
    padding: 0rem;
    background-color: rgba(85, 142, 161, 0.03);
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.modal-header {
    padding: 0rem;
    margin: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.form-control {
    height: 27px;
    padding: 0rem 0rem 0rem 0.5rem;
    font-size: 0.775rem;
}

.col-form-label {
    font-size: 0.775rem;
}
