.btn-lista-vista {
    background-color: transparent;
    -webkit-align-items: center;
    height: 20px;
    width: 20px;
    opacity: .70;
    cursor: pointer;
}

.btn, .card, .form-control {
    border-radius: 0rem;
    color: #000000;
    margin: 0rem;
}

.modal-content {
    border-radius: 0rem;
}

.modal-footer {
    padding: 0rem;
    background-color: rgba(85, 142, 161, 0.03);
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.modal-header {
    padding: 0rem;
    margin: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
}

.form-control {
    height: 27px;
    padding: 0rem 0rem 0rem 0.5rem;
    font-size: 0.775rem;
}

.col-form-label {
    font-size: 0.775rem;
}

.card-body {
    padding: 0;
}

.card-header {
    padding: .3rem 1.25rem;
}

/*MENU*/
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.5s;
}

    .sidenav a, .dropdown-btn {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        cursor: pointer;
        outline: none;
        transition: 0.3s;
    }

        .sidenav a:hover .dropdown-btn:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.contenido {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}
/*MENU*/


/*MENU DROPDOWN*/
.active {
    background-color: green;
    color: white;
}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

.fa-caret-down {
    float: right;
    padding-right: 8px;
}
/*MENU DROPDOWN*/