.btn-guardar {
    color: #fff;
    background-color: #0094ff;
    border-color: #6fc5eb;
}

    .btn-guardar:hover {
        color: #fff;
        background-color: #0094ff;
        border-color: #6fc5eb;
    }

    .btn-guardar:focus, .btn-guardar.focus {
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }

    .btn-guardar.disabled, .btn-guardar:disabled {
        color: #fff;
        background-color: #6fc5eb;
        border-color: #2136de;
    }

    .btn-guardar:not(:disabled):not(.disabled):active, .btn-guardar:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
        color: #fff;
        background-color: #6fc5eb;
        border-color: #2136de;
    }

    .btn-guardar:not(:disabled):not(.disabled):active:focus, .btn-guardar:not(:disabled):not(.disabled).active:focus,
    .show > .btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
    }

